.radioSendReceive {
    display: flex;
}
h1 {
    display: flex;
    align-items: center;
    justify-content: center;
    border: solid;
    border-radius: 1rem;
    position: relative;
    height: 20%;
    margin: 2rem;
    font-size: 3rem;
}
fieldset {
    display: flex;
    justify-content: space-evenly;
    border: none;
    margin: 2rem;
}
.chooseType>label {
    border: solid;
    border-radius: 0.5rem;
    padding: 0.5rem;
}
#typeLabelOne {
    color: red;
}
#sendRadio {
    display: none;
}
#receiveRadio {
    display: none;
}
.block {
    border: solid;
    display: flex;
    justify-content: space-evenly;
    margin: 2rem;
    border-radius: 1rem;
    height: 60%;
}
form {
    border: solid;
    flex-grow: 1;
    width: 20%;
    margin: 2rem;
    margin-right: 1rem;
}
.result {
    border: solid;
    flex-grow: 1;
    width: 20%;
    margin: 2rem;
    margin-left: 1rem;
}