.radioSendReceive {
    display: flex;
}
h1 {
    display: flex;
    align-items: center;
    justify-content: center;
    border: solid;
    border-radius: 1rem;
    position: relative;
    height: 20%;
    margin: 4rem;
    margin-bottom: 2rem;
    margin-top: 2rem;
    font-size: 3rem;
}
fieldset {
    display: flex;
    justify-content: space-evenly;
    border: none;
    margin: 2rem;
}
.chooseType>label {
    border: solid;
    border-radius: 0.5rem;
    padding: 0.5rem;
}
#typeLabelOne {
    color: red;
}
#sendRadio {
    display: none;
}
#receiveRadio {
    display: none;
}
.block {
    display: flex;
    justify-content: space-evenly;
    margin: 2rem;
    border-radius: 1rem;
    height: 60%;
    font-size: 2rem;
}
form {
    flex-grow: 1;
    width: 20%;
    margin: 2rem;
    margin-right: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items:center ;
    border: solid;
    border-radius: 1rem;
}
.result {
    flex-grow: 1;
    width: 20%;
    margin: 2rem;
    margin-left: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items:center ;
    border: solid;
    border-radius: 1rem;
}
#inputNum {
    font-size: 2rem;
}
#selectFeeRate {
    font-size: 1.5rem;
}